pandas
pyarrow
pyjanitor
numpy
matplotlib
seaborn
jupyter
notebook==6.4.12
jupyter_contrib_nbextensions
jupyter_nbextensions_configurator
jupyterthemes
traitlets==5.9.0
sidetable
inequality
statsmodels
tqdm